catalog/*.csv
catalog/*.fits

images/

job_sub/*status/

metadata/

processing/*.log
processing/*.txt
processing/status/
processing/__pycache__/

wget_lists/

zipper_prep/filters/
zipper_prep/seds/

*~